*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

:root{
    --blue: #0043bb;
    --font-quotebody: 'Noto Sans', sans-serif;
}

header{
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.logo_content{
    /* width: 20%; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_content img{
    width: 45px;
    margin: 0 10% 0 0;
}

.logo_content h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.slider{
    background:#000;
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 2% 0 0;
}

.quote_content_1{
    text-align: center;
    color: #fff;
}

.quote_content_1 h3{
    font-size: 20px;
    font-family: var(--font-quotebody);
    width: 70%;
    margin: 0 auto;

}

.quote_content_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10% 5%;
    
}

.quote_content_2 .quotes{
    background: #000;
    color: #fff;
    padding: 80px 30px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    width: 30%;
    /* overflow: hidden; */
    position: relative;
}

.quote_content_2 .quotes .center{
    padding: 0 20px;
}

.quote_content_2 .quotes h3{
    font-family: var(--font-quotebody);
    font-size: 16px;
    
    

}

.quote_content_2 .sssprev, .quote_content_2 .sssnext{
    display: none;
}


svg{
    margin-bottom: -1%;
    
}

footer{
    background: #000;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer .creator_name{
    color: #fff;
    margin: 0 0 2.3%;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

footer .creator_name span{
    color: var(--blue);
    font-size: 16px;

}

footer .creator_name span:hover{
    border-bottom: var(--blue) solid 1px;
}

footer .social_media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 3%;
}

footer .social_media img{
    width: 2.2%;
    margin: 0 2%;
}

footer .social_media img:hover{
    transform: scale(1.1, 1.1);
    border-radius: 100%;
    box-shadow: 0 0 7px 2px var(--blue);
}

/* MEDIA QUERIES */

@media screen and (max-width:842px){
    .quote_content_2{
        margin: 10% 2%;
    }
}

@media screen and (max-width:740px){
    .quote_content_2{
        flex-direction: column;
    }

    .quote_content_2 .quotes{
        width: 70%;
        margin: 5% auto;
    }

    .quote_content_2 .quotes::before{
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        border-radius: 800px/10px;
        bottom: -2px;
        content: "";
        height: 8px;
        left: 2%;
        position: absolute;
        width: 96%;
        z-index: -1; 
      }

}
